.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: red;
  color: white;
  font-size: 25px;
  font-weight: 600;
  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
  }
}

.link {
  color: white;
  text-decoration: none;
}
.active {
  color: blue;
}
